@import "common/admin/admin_base";


.d-header {
  z-index: 999;
}

aside.sidebar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  z-index: 1;
  position: relative;
}

.sidebar-container {
  width: inherit;
  z-index: 10;
  padding-bottom: 25px;

  &.fixed {
    position: fixed;
  }

  .sidebar-user-controls {
    position: absolute;
    bottom: 0;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }

    .user-control {
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    a {
      color: dark-light-diff($primary, $secondary, 60%, -65%);
    }
  }

  .sidebar-content {
    > div {
      position: relative;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.main-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 100px;
  border-radius: 4px;

  .list-controls {
    padding: 0;
  }

  &.has-sidebars {
    .list-controls {
      padding: 7px 7px 0 7px;
      .nav {
        margin: 0;
      }
    }

    .topic-list .posters {
      min-width: initial;
    }

    .qa-post {
      padding: 0 5px 0 20px;
    }

    .signup-cta {
      width: initial;
      margin-bottom: 0;
    }


    .topic-list-bottom {
      margin: 10px;
    }
  }

  &.left-sidebar {
    margin-left: 10px;
  }

  &.right-sidebar {
    margin-right: 10px;
  }

  &.loading {
    box-shadow: none;
  }

  &.navigation-disabled {
    .list-controls {
      padding: 0;
    }
  }

  &.nav-menu-enabled {
    ol.category-breadcrumb {
      margin: 0;
    }
  }
}

.widget-container {
  border-radius: 4px;
  padding: 7px;
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  background-color: $secondary;
  position: relative;

  .widget-inner {
    width: 100%;
  }

  .widget-title {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 3px;
  }

  .widget-multi-title {
    display: inline-block;
  }

  .widget-description {
    padding-bottom: 5px;
  }

  .widget-controls {
    display: inline-block;
    width: 100%;
  }

  .widget-disabled {
    font-style: italic;
  }
}

.layouts-nav-button {
  @extend .nav-pills;
}

.layouts {
  @extend .staff-actions;
  width: 100%;

  .heading-container, .table-item {
    display: flex;
  }

  .first {
    margin-left: 10px;
  }

  .label {
    width: 10%;
    flex: 0 1 auto;
  }

  .medium-label {
    width: 20%;
    flex: 0 1 auto;
  }

  .large-label {
    width: 30%;
    flex: 0 1 auto;
  }

  .position .select2-container {
    width: 150px !important;
    min-width: 150px !important;
  }

  .controls {
    text-align: center;
  }
}
